@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales para el diseño y la tipografía */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* Estilos del body y root */
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424; /* Color de fondo oscuro para el tema oscuro */
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px; /* Ajusta el valor según el ancho deseado */
  padding: 16px; /* Ajusta el padding según sea necesario */
}

/* Estilos de encabezados */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Estilos para botones */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Estilos para el modo claro */
@media (prefers-color-scheme: light) {
  :root {
    color: #333333; /* Texto más oscuro para el tema claro */
    background-color: #f9f9f9; /* Fondo más claro */
  }
  a {
    color: #007bff; /* Color de los enlaces más visible */
  }
  a:hover {
    color: #0056b3; /* Color de los enlaces al pasar el cursor */
  }
  button {
    background-color: #ffffff; /* Fondo de botón claro */
    border-color: #cccccc; /* Borde de botón claro */
    color: #333333; /* Texto del botón oscuro para contraste */
  }
  button:hover {
    border-color: #007bff; /* Borde del botón al pasar el cursor */
  }
  body {
    background-color: #f9f9f9; /* Fondo de cuerpo claro */
  }
}
